.header {
  display: flex;
}
.word-header {
  display: flex;
  justify-content: space-around;
}

.login-header-link,
.register-header-link {
  color: var(--app-color);
  font-size: larger;
  font-weight: 600;
}

ul {
  list-style: none;
}
.nav-container {
  display: flex;
  justify-content: center;
}
.logo-budgetix {
  width: 150px;
}

.title {
  color: var(--app-color);
  margin: auto;
  justify-content: space-between;
}
@media scren and(min-width:600px) {
  .logo-budgetix {
    width: 16dvw;
  }
}
@media (prefers-color-scheme: light) {
  .title {
    color: #63ab57;
  }
  .logo-budgetix {
    background-image: url(${logoLight});
  }
}
